<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Milestone1</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header clearfix">
            <div class="row">
                <div class="col-xs-6">
                    <div class="pull-left"><a href="index.html" ><img src="images/logo.svg" class="logo"></a></div>
                </div>
                <div class="col-xs-6">
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="active"><a href="index.html">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="title-section">
                <div>
                    
                <h1>Blog</h1>
                </div>
            </div>
        </div>

        <% if(dbsuccess){  console.log(results); %>
                <div>
                    <div class="title">Edit post</div>
                    <form name="edit form" action="./edit" method="post" class="contact-form" >
                        content: <input type="text" class="input i1" name="name" placeholder="Place title here." value="<%= results.name %>">
                        content: <input type="textarea" class="input i1" name="content" placeholder="Place content here." value="<%= results.content %>">

                        <input type="submit" class="button" value="Submit">
                    </form>
                </div>
        <% } else { % >
            There was a problem retriving the data.
        <% } %>
    </div>
        <footer class="footer">
            <div class="container">
                <div class="row top-row">
            		<div class="col-sm-6">
                		<ul class="nav nav-pills pull-left">
                            <li><a href="index.html">Blog</a></li>
                        </ul>
            		</div>
                    <div class="col-sm-6 social">
                        <img src="images/twitter.svg">
                        <img src="images/facebook.svg">
                        <img src="images/instagram.svg">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row bottom-row">
                    &copy; 2016 Company, Inc.
                </div>
            </div>
        </footer>
    <!-- /container -->
</body>

</html>
